@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #309d67;
  padding: 0.4em;
  font-family: "Nunito", sans-serif;
}

.card {
  background: #bf40bf;
  border-radius: 1em;
  padding: 2.3em;
  text-align: center;
}

svg {
  width: 5em;
}

h1 {
  font-size: 1em;
  font-weight: normal;
}

.card p {
  font-size: 0.85em;
  color: #474747;
}

a {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5em;
  font-size: 0.8em;
}
.obligation {
  text-align: center;
  color: orange;
  font-weight: bold;
  margin-bottom: 0;
}

/*

    Your fixes below:
    
    Use the following properties and rulesets
    to improve the visual hierarchy of this
    design
    
*/

body {
  padding: 1em;
  background: #7f00ff;
}

svg {
  width: 5em;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: orange;
}

.card p {
  font-size: 0.9em;
  line-height: auto;
  color: orange;
}

a {
  background: #7f00ff;
  padding: 0.5em;
  color: yellow;
}
